<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Voting App</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="/public/javascript/node_modules/@spruceid/didkit-wasm-node/didkit_wasm.js"></script>
    <script src="/public/javascript/verify.js"></script>
  </head>
  <body>
    <h1><%= @title %></h1>
    <%= yield %>
  </body>
</html>
