<!DOCTYPE html>
<html>
<head>
  <title>Voting Application</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-image: url('/images/pizza.jpeg'); /* Replace 'pizza.jpg' with the path to your pizza image */
      background-size: cover;
      background-position: center;
    }
    .container {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      max-width: 600px;
      margin: 5px auto;
      margin-top: 50px;
      border-radius: 10px;
    }
    h1 {
      text-align: center;
    }
    .error-message {
      color: red;
    }
  </style>
</head>
<body>
  <div class="container">
  <h1>Does pineapple belong on pizza?</h1>
  <input type="text" id="VC" placeholder="VC"> <-- Enter your 'Pizza Lovers' verifiable credential here
  <div>
    <br>
    <label for="voteYes">Yes</label>
    <input type="radio" name="vote" id="voteYes" value="yes">
    <br><br>
    <label for="voteNo">No</label>
    <input type="radio" name="vote" id="voteNo" value="no">
  </div>
<br>
  <button id="voteButton">Submit Vote</button>
<br><br><br>
  <h2>Vote Results</h2>
  <p>Yes: <span id="voteYesCount"></span></p>
  <p>No: <span id="voteNoCount"></span></p>
  <p>Vote count: <span id="voteCount"><%= voteCount %></span></p>

  </div>
  <script>
    // Send vote request to the server
    function vote() {
      const voterCredentials = document.getElementById('VC').value;
      if (!voterCredentials) {
        alert('Please enter your voting credential');
        return;
      }

      const voteValue = document.querySelector('input[name="vote"]:checked').value;
      if (!voteValue) {
        alert('Please select your vote (Yes or No)');
        return;
      }

      fetch('/vote', { 
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ credential: voterCredentials , voteValue: voteValue})
      })
        .then(response => response.json())
        .then(data => {
          if (data.value === 0){
            alert('You are not allowed to vote on this, Please enter a valid verifiable pizza voting credential');
          return;
          }else{
            updateVoteCount(); // Update the vote count after voting
          }
        
        })
        .catch(error => {
          console.log('Error:', error);
          alert('you are not allowed to vote on this');
          return;
        });
    }
    // Add event listener to the vote button
    document.getElementById('voteButton').addEventListener('click', vote);

    // Initial vote count update
    function updateVoteCount() {
      fetch('/vote/count')
        .then(response => response.json())
        .then(data => {
          document.getElementById('voteCount').textContent = data.count;
          document.getElementById('voteYesCount').textContent = data.yesCount;
          document.getElementById('voteNoCount').textContent = data.noCount;
        })
        .catch(error => {
          console.log('Error:', error);
          displayErrorMessage('Failed to fetch vote count.'); // Display error message
        });
    }
    updateVoteCount();

        // Display error message on the page
        function displayErrorMessage(message) {
     // document.getElementById('errorMessage').textContent = message;
    }

    // Clear error message on the page
    function clearErrorMessage() {
   //   document.getElementById('errorMessage').textContent = '';
    }

  </script>
</body>
</html>
